In [2]:
from measures.value_trading import robust_value_data
from measures.momentum_strategy import hq_momentum_data

hqm_dataframe = hq_momentum_data()
rv_dataframe = robust_value_data()

In [11]:
rv_dataframe.head()

,Ticker,Price,Number of Shares to Buy,Price-to-Earnings Ratio,PE Percentile,Price-to-Book Ratio,PB Percentile,Price-to-Sales Ratio,PS Percentile,EV/EBITDA,EV/EBITDA Percentile,EV/GP,EV/GP Percentile,Robust Value Score
0,A,121.00,n/a,56.00,86.9307,7.63,73.0693,7.0200,81.2871,34.855106,86.1386,13.513492,82.1782,81.9208
1,AAL,17.45,n/a,-1.26,14.0594,-1.95,4.55446,0.4292,3.16832,-6.349948,2.77228,1.396744,5.54455,6.0198
2,AAP,157.80,n/a,23.83,45.5446,2.93,41.4851,1.1400,17.8218,11.121673,28.1188,2.552768,12.8713,29.1683
3,AAPL,126.25,n/a,38.33,71.8812,33.31,96.2376,7.9000,84.7525,27.263779,79.4059,20.100019,94.6535,85.3861
4,ABBV,111.26,n/a,23.34,44.5545,12.34,85.3465,4.6900,67.4257,15.846835,49.505,9.478544,65.5446,62.4752

In [16]:
import pandas as pd
import numpy as np


my_columns = ['Ticker', 'HQM Score', 'Robust Value']
final_dataframe = pd.DataFrame()
final_dataframe[['Ticker','HQM Score']] = hqm_dataframe[['Ticker','HQM Score']]
final_dataframe['Robust Value Score'] = rv_dataframe['Robust Value Score']

In [17]:
final_dataframe

    Ticker HQM Score Robust Value Score
0        A  0.729703            81.9208
1      AAL  0.492574             6.0198
2      AAP  0.350495            29.1683
3     AAPL  0.658911            85.3861
4     ABBV  0.614356            62.4752
..     ...       ...                ...
500    YUM  0.493564            58.3564
501    ZBH  0.232673            45.0297
502   ZBRA  0.857921            77.2277
503   ZION  0.584158             24.396
504    ZTS  0.381683             89.703

[505 rows x 3 columns]